@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}

html, body {
  overflow: hidden;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 35px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.fade-in {
  animation-duration: .7s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: fade-in
}


.element-style {
  @apply m-4 md:m-8 xl:m-12 2xl:m-20 p-3 md:p-4 xl:p-6 2xl:p-8 shadow-2xl bg-gray-700 bg-opacity-70 rounded-3xl;
}




#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: rgb(230, 230, 230) !important;
}
