@keyframes fadeInTransformIn {
  0% {
    opacity: 0;
    transform: translate(0px, -35px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.fadeIn {
  animation-duration: .6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: fadeInTransformIn
}

@keyframes typingEffectAnimation {
  from, to {
    color: transparent;
  }
  50% {
    color: orange;
    }
}

.typingEffect::after {
  content: "|";
  background-clip: initial;
  background: transparent !important;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-name: typingEffectAnimation;
}

