.backgroundStyle::before {
    filter: blur(30px);
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('./../public/assets/background.webp');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
}

.backgroundStyle {
    @apply bg-fixed w-full h-full;
}